.list {
    align-items: flex-end;
}

@media screen and (max-width: 62em) {
    .list {
        align-items: center;
    }
}


.hide, .masonrySSR.hide {
    display: none;
}

.invisible {
    visibility: hidden;
}
