[submodule "src/content"]
	path = src/content
	url = https://github.com/gongbaodd/gongbaodd.github.io.git
[submodule "packages/shiki-plantuml"]
	path = packages/shiki-plantuml
	url = https://github.com/gongbaodd/shiki-plantuml.git
