.header {
  backdrop-filter: blur(8px);

  @supports(backdrop-filter: blur(8px)) {
        background: linear-gradient(to bottom,
              color-mix(in srgb, var(--mantine-color-body) 100%, transparent) 15%,
              color-mix(in srgb, var(--mantine-color-body) 80%, transparent) 45%,
              color-mix(in srgb, var(--mantine-color-body) 60%, transparent) 65%,
              color-mix(in srgb, var(--mantine-color-body) 0%, transparent));
        border-width: 0px;
        background-size: cover;
  }
}

.link {
  color: var(--mantine-color-dimmed)
}

.link:hover {
  color: var(--mantine-color-blue-6);
}

.link.active {
  color: var(--mantine-color-blue-6);
  font-weight: bold;
}

.loader {
  width: 240px;
  position: absolute;
  top: 3em;
  left: 50%;
  transform: translateX(-120px);
}