.carousel {
    border-radius: var(--mantine-radius-md);
}

@media screen and (max-width: 88em) {
    .carousel {
        max-width: 100%;
        border-radius: var(--mantine-radius-md);
    }
}

@media screen and (min-width: 88em) {
    .carousel.titled {
        flex: 1;
        max-width: calc(100% - 12em);
        border-radius: var(--mantine-radius-md);
    }
}