@page { margin: 0 }
body { margin: 0 }
.sheet {
  margin: 0;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  page-break-after: always;
}

.A4 {
  display: flex;
  flex-wrap: wrap;
  gap: 10mm;
}

/** Paper sizes **/
.A4               .sheet { width: 210mm; height: 296mm }
.A4.landscape     .sheet { width: 297mm; height: 209mm }

/** Padding area **/
.sheet.padding-10mm { padding: 10mm }
.sheet.padding-15mm { padding: 15mm }
.sheet.padding-20mm { padding: 20mm }
.sheet.padding-25mm { padding: 25mm }

.sheet .lastUpdate {
  position: absolute;
  top: 1em;
  right: 1em;
  font-size: 12px;
}

.printer {
  position: absolute;
  top: 1em;
  left: 1em;
}

.sheet h2 {
  margin-top:  var(--mantine-spacing-sm);
}

#key-skills {
  margin-top: 0;
}

a.work {
  color: initial;
  text-decoration: initial;
}

/** For screen preview **/
@media screen {
  .sheet {
    background: white;
    box-shadow: 0 .5mm 2mm rgba(0,0,0,.3);
    margin: 0 auto;
  }
}

/** Fix for Chrome issue #273306 **/
@media print {

  .A4.landscape { width: 297mm }
  .A4 {
    width: 210mm;
    display: block;
  }
}

@page {
  size: a4;
  margin: 0cm;
}


.page-1 > h2 {
  transform: rotate(90deg);
  transform-origin: left bottom;
  color: var(--mantine-color-dark-3);
}

.page-1 hr {
  margin-bottom: 0;
}

.page-1 .subsection {
  margin-top: -1.5em;
  margin-left: 2em;
}

.page-1 .subsection.intro{
  margin-top: -.5em;
  margin-left: 2em;
}

.page-1 .subsection.language {
  margin-top: 1em;
  margin-left: 2.2em;
}

.page-1 .subsection.edu {
  margin-left: 2.2em;
  height: 224px;
}

.page-1 .subsection.job {
  margin-top: 1em;
}