---
import BaseHead from "@/packages/components/BaseHead.astro";
import { SITE_TITLE, SITE_DESCRIPTION, ROUTE_LABEL } from "@/packages/consts";
import Global from "@/packages/layouts/Global.astro";
import MantineMain from "@/packages/scaffold/MantineMain";
import BlogSkeleton from "../skeletons/blog";
import HomeSkeleton from "../skeletons/home";
import WorldSkeleton from "../skeletons/world";
import ArchiveSkeleton from "../skeletons/archive";
---
<Global>
  <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} slot="head" />
  <section transition:name={ROUTE_LABEL.Home}>
    <MantineMain>
      <HomeSkeleton client:load />
      <BlogSkeleton client:load />
      <WorldSkeleton client:load />
      <ArchiveSkeleton client:load />
    </MantineMain>
  </section>
</Global>