---
import BaseHead from "@/packages/components/BaseHead.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "@/packages/consts";
import Global from "@/packages/layouts/Global.astro";
import MantineMain from "@/packages/scaffold/MantineMain";
import Header from "@/packages/header/Header.astro";
import MantineHeatWrapper from "@/packages/heat/MantineHeatWrapper.astro";
import { BentoDemo } from "../components/Bento";
import { getAllPosts, mapServerPostToClient } from "@/packages/utils/post";
import { PostCard } from "@/packages/card/PostCard";

const [_post, ..._rest] = await getAllPosts();
const [post] = await mapServerPostToClient([_post]);
---

<Global>
  <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} slot="head" />
  <section>
    <MantineMain>
      <BentoDemo />
      <PostCard post={post} />
    </MantineMain>
  </section>
</Global>
