---
import BaseHead from "@/packages/components/BaseHead.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "@/packages/consts";
import "@mantine/core/styles.css";
import BlogMasonry from "../components/Masonry";

---
<!doctype html>
<html lang="en" class="h-full relative">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
   
  </head>
  <body>
    <BlogMasonry/>
  </body>
</html>
