---
import Global from "../../packages/layouts/Global.astro";

import BaseHead from "../../packages/components/BaseHead.astro";
import { SITE_TITLE, SITE_DESCRIPTION, ROUTE_LABEL } from "@/packages/consts";

import { getBadges } from "@/packages/utils/badges";
import MantineMain from "../../packages/scaffold/MantineMain";
import Hero from "../../packages/hero/Hero.astro";
import BlogSections from "../components/BlogSections.astro";
import SpotifyPlayer from "../components/SpotifyPlayer";
import Tags, { TagGroup } from "../../packages/tags/Tags";
import NewsLetter from "../components/NewsLetter";
import Footer from "@/packages/footer/Footer.astro";
import Header from "@/packages/header/Header.astro";
import MantineHeatWrapper from "@/packages/heat/MantineHeatWrapper.astro";
import WorldMap from "../components/WorldMap.astro";
import ParticleHero from "@/packages/particle-hero/ParticleHero.astro";
import {
  findNearestGalleryEntry,
  readGalleryTraceSvg,
} from "@/packages/utils/gallery";


export const prerender = true;
const badges = await getBadges();

const nearest = findNearestGalleryEntry();
const galleryImage = nearest
  ? {
      url: nearest.image,
      traceSvg: readGalleryTraceSvg(nearest.id),
      colorSet: nearest.colorSet,
    }
  : undefined;
---

<Global>
  <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} slot="head" />
  <Header />
  <section id="home-page" class="main">
    <MantineMain client:load>
      <ParticleHero galleryImage={galleryImage} />
      <MantineHeatWrapper />
      <BlogSections />
      <WorldMap />
      <Tags client:load>
        <TagGroup tags={badges} slot="tagGroup" />
      </Tags>
      <SpotifyPlayer client:load />
      <!-- <NewsLetter /> -->
      <Footer slug={"index"} />
    </MantineMain>
  </section>
</Global>
