---
import HTML from "@/layouts/HTML.astro"

import BaseHead from "../components/BaseHead.astro"
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts"

import Demo from "../components/demo"
import { Button } from "@/components/ui/button"

import profile from "@/assets/profile.jpg"
import { Image } from "astro:assets"
---

<HTML>
  <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} slot="head" />
  <Header title={SITE_TITLE} />
  <main class="h-full">
    <Image src={profile} alt="profile"/>
  </main>
  <Footer />
</HTML>
