---
import Global from "../../packages/layouts/Global.astro";
import BaseHead from "../../packages/components/BaseHead.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "@/packages/consts";
import MantineMain from "../../packages/scaffold/MantineMain";
import Header from "@/packages/header/Header.astro";
import Footer from "@/packages/footer/Footer.astro";
import PodcastList from "../components/PodcastList";

export const prerender = true;
---

<Global>
  <BaseHead
    title={SITE_TITLE + " | Podcast"}
    description={SITE_DESCRIPTION}
    slot="head"
  />
  <Header />
  <section id="podcast-page" class="main">
    <MantineMain client:load>
      <PodcastList client:load />
      <Footer slug={"podcast"} />
    </MantineMain>
  </section>
</Global>

