---
import BaseHead from "@/packages/components/BaseHead.astro";
import { ROUTE_LABEL, SITE_DESCRIPTION, SITE_TITLE } from "@/packages/consts";
import Header from "@/packages/header/Header.astro";
import Global from "@/packages/layouts/Global.astro";
import MantineMain from "@/packages/scaffold/MantineMain";
import { sortPostsByDate } from "@/packages/utils/filter";
import { getAllPosts, mapServerPostToClient } from "@/packages/utils/post";
import Footer from "@/packages/components/Footer.astro";
import { GridWithMenu } from "@/packages/scaffold/GridWithMenu";
import { BlogListMenu } from "@/packages/menu/BlogListMenu";
import BlogPlock from "@/packages/masonry/BlogPlock";
import { FILTER_ENTRY } from "@/packages/consts";
import WorkdMap from "../components/WorldMap.astro";

export const prerender = true;
const posts = await getAllPosts();
const allPosts = sortPostsByDate(posts.filter((p) => !!p.data.city));

const clientPosts = await mapServerPostToClient(allPosts);

const filter = "";
const entryType = FILTER_ENTRY.WORLD;
const totalCount = clientPosts.length;
---

<Global>
  <BaseHead
    title={SITE_TITLE + " | World"}
    description={SITE_DESCRIPTION}
    slot="head"
  />
  <Header/>
  <section id="world-page" class="main">
    <MantineMain>
      <GridWithMenu
        menuCol={{ base: 12, md: 1.2 }}
        contentCol={{ base: 12, md: 10.8 }}
      >
        <BlogListMenu slot="menuNode" client:idle />
        <section slot="gridContent" class="flex flex-col gap-8">
          <WorkdMap />
          <BlogPlock
            totalCount={totalCount}
            entryType={entryType}
            filter={filter}
            client:load
          />
        </section>
      </GridWithMenu>
      <Footer slug={"world"} />
    </MantineMain>
  </section>
</Global>
