---
import BaseHead from "@/packages/components/BaseHead.astro";
import Footer from "@/packages/components/Footer.astro";
import Header from "@/packages/header/Header.astro";
import { ROUTE_LABEL, SITE_DESCRIPTION, SITE_TITLE } from "@/packages/consts";
import Global from "@/packages/layouts/Global.astro";
import MantineMain from "../../packages/scaffold/MantineMain";
import { SearchBanner } from "@/packages/search/Search";
import YearFolders from "../components/YearFolders.astro";

export const prerender = true;
---

<Global>
  <BaseHead
    title={`${SITE_TITLE} | Archive`}
    description={SITE_DESCRIPTION}
    slot="head"
  />
  <Header transition:persist />
  <section id="year-page">
    <MantineMain client:load>
      <SearchBanner client:idle />
      <YearFolders />
      <Footer />
    </MantineMain>
  </section>
</Global>
