---
const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} 宫不上, built with <span class="heart">❤️</span>. All rights reserved.
</footer>
<style>
	footer {
		padding: 2em 1em 4em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}

	.heart {
		color: red;
	}
</style>
