.card iframe {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 1.5s ease-in-out;
}

.unloaded {
    opacity: 0;
}

.loaded {
    opacity: 1;
}


.cookie {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}