---
import { ROUTE_LABEL } from "@/packages/consts";
import BlogSkeleton from "../skeletons/blog";
import HomeSkeleton from "../skeletons/home";
import WorldSkeleton from "../skeletons/world";
import { TransitionSkeletons } from "./TransitionSkeletons";
---

<TransitionSkeletons client:only>
  <section slot="home" id="home-page-skeleton">
    <HomeSkeleton />
  </section>
  <section slot="blog" id="blog-page-skeleton">
    <BlogSkeleton />
  </section>
  <section slot="world" id="world-page-skeleton">
    <WorldSkeleton />
  </section>
  <section slot="archive" id="year-page-skeleton">
    <WorldSkeleton />
  </section>
</TransitionSkeletons>
