---
import { ROUTE_LABEL } from "@/packages/consts";
import BlogSkeleton from "../skeletons/blog";
import HomeSkeleton from "../skeletons/home";
import WorldSkeleton from "../skeletons/world";
import { TransitionSkeletons } from "./TransitionSkeletons";
---

<TransitionSkeletons client:only>
  <section slot="home" style="view-transition-name: home;">
    <HomeSkeleton />
  </section>
  <section slot="blog">
    <BlogSkeleton />
  </section>
  <section slot="world">
    <WorldSkeleton />
  </section slot="archive">
    <WorldSkeleton />
  </section>
</TransitionSkeletons>
