.app {
    padding-left: var(--mantine-spacing-md);
    padding-right: var(--mantine-spacing-md);
}

@media screen and (max-width: 48em) {
    .app {
        padding-left: 0;
        padding-right: 0;
    }
}