---
import CommonHead from "../components/CommonHead.astro";
const { title, description } = Astro.props;
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <CommonHead {title} {description} />
  </head>
  <body>
    <header transition:persist>
      <nav>
        <a href="/home">Home</a> · <a href="/about">About</a>
      </nav>
    </header>

    <!-- slide the main content during navigation -->
    <main transition:animate="slide">
      <slot />
    </main>
  </body>
</html>