---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';

import "github-markdown-css/github-markdown.css";
import Global from "@/layouts/Global.astro"

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<Global>
	<BaseHead title={title} description={description} slot="head" />
	<Header/>
	<main class="min-h-full grid grid-cols-1 justify-items-center">
		<article class="markdown-body max-w-6xl">
			<slot />
		</article>
		<Footer />
	</main>
</Global>
