---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

import "github-markdown-css/github-markdown.css";
import Global from "@/layouts/Global.astro"
import { excerpt, title } from '@/utils/extract';
import { SITE_TITLE } from '@/consts';

type Props = CollectionEntry<'blog'>;

const post = Astro.props
const postTitle = title(post)
const postExcerpt = await excerpt(post)

---

<Global>
	<BaseHead title={`${SITE_TITLE} | ${postTitle}`} description={postExcerpt} slot="head" />
	<Header/>
	<main class="min-h-full grid grid-cols-1 justify-items-center">
		<article class="markdown-body max-w-6xl">
			<slot />
		</article>
		<Footer />
	</main>
</Global>
