---
import "@/styles/global.css"
---

<!doctype html>
<html lang="en" class="h-full relative">
  <head>
    <slot name="head" />
    <style>
      body {
        grid-auto-rows: min-content 1fr min-content;
      }
    </style>
  </head>    
  <body class="min-h-full grid grid-cols-1">
    <slot />
  </body>
</html>


